table{
    background-color: lightblue;
    margin: auto;
    width: 240px;
    height: 150px;
}
.button{
    width: 60px;
    height: 45px;
    padding: auto;
    margin: auto;

}
#result{
    width: 240px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: auto;
}